<div class="mt-4 text-white">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti illum, earum quas quis reiciendis tempore eveniet ratione ullam nam repellendus facere? Nemo, tempora placeat. Dolores perferendis dicta provident, omnis mollitia tempore pariatur vel adipisci recusandae culpa a ullam voluptate aliquam?</p>
    </div>
</div>