<div class="jumbotron mt-4 text-white">
    <h1 class="display-4 p-1">Notes App Nodejs and MongoDB</h1>
    <p class="lead p-1">Aplicación web para tomar notas con Nodejs y MongoDB</p>
    <hr class="my-4">
    <p class="p-1">Esta aplicación fue diseñada con el objetivo de poder tomar notas y almacenarlas. 
        El usuario podrá registrarse, loguearse y luego comenzar a trabajar con notas, pudiendo éste crear, 
        editar o eliminar las mismas. Todo quedará almacenado dentro de su sesión y no se compartirá ningún 
        tipo de información con otros usuarios.</p>
    <p>Además, todas las contraseñas de los usuarios registrados en esta aplicación serán almacenadas y
        encriptadas en una base de datos de MongoDB para mayor seguridad y transversabilidad de los datos.
    </p>
    {{!-- <a href="http://faztweb.com" class="btn btn-primary btn-lg">Faztweb</a> --}}
</div>